.Pretendard-M-25 {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29.83px;
}
.Pretendard-R-23 {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34.5px;
}
.Btn-Poppins-M-30 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
