@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #111220;
  --typo-color: #ffffff;
  --button-point-100: #b4b0de;
  --button-point-200: #7a62db;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  background-size: cover;
}
