@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #111220;
  --typo-color: #ffffff;
  --button-point-100: #b4b0de;
  --button-point-200: #7a62db;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  background-size: cover;
  overflow: hidden;
  cursor: url('/public/cursor.svg') 16 0, default;
}
button {
  cursor: url('/public/cursorp.svg') 16 0, pointer;
}
.card {
  border-image-source: linear-gradient(
    155.93deg,
    rgba(181, 94, 195, 0.96) 0.77%,
    rgba(239, 241, 254, 0.58) 58%,
    #e3e6fb 101.02%
  );

  box-sizing: border-box;
  /* card bg color_2 */

  background: linear-gradient(
      322.85deg,
      rgba(239, 217, 253, 0.2) 2.99%,
      rgba(230, 189, 255, 0.07) 16.13%,
      rgba(255, 255, 255, 0) 29.91%
    ),
    linear-gradient(
      337.18deg,
      rgba(255, 255, 255, 0.35) -16.5%,
      rgba(255, 255, 255, 0.35) -13.9%,
      rgba(135, 129, 206, 0.162789) 100.03%,
      rgba(123, 116, 201, 0.1435) 105.56%
    );
  background-blend-mode: normal, screen;
  mix-blend-mode: normal;
  /* card effect */

  box-shadow: 0px 42px 71px 4px rgba(140, 163, 242, 0.3),
    inset 2px -11px 17px rgba(184, 167, 251, 0.28);
  backdrop-filter: blur(22px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;

  transition: 0.5s;

  cursor: url('/public/cursorp.svg') 16 0, pointer;
}
.card:hover {
  transform: translateY(-25px);
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 190px;
  background: radial-gradient(
      74.22% 74.22% at 23.16% 19.47%,
      #191e55 0%,
      #121534 99.99%,
      rgba(19, 23, 77, 0.86) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 4px 5px 26px 4px rgba(99, 123, 248, 0.25);
  border: 5px solid #847e9d;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 104%;
  height: 104%;
  border: 5px solid transparent;
  border-top: 5px solid #c1c4f6;
  border-right: 5px solid #c1c4f6;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
.ring > span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 52%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.ring > span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(221.31deg, #ffffff -40.92%, #b0b2f3 88.79%);
  box-shadow: 0px 0px 9px 3px rgba(106, 110, 241, 0.46);
  top: -6px;
  right: -8px;
}
@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.mcard {
  position: absolute;
  width: 300px;
  height: 460px;
}
